<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="7_7_JPA_ManyToOne">
        <wb-resource deploy-path="/" source-path="/src"/>
    </wb-module>
</project-modules>
